@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #f7f8fb;
  color: #0f172a;
  font-family: ui-sans-serif, system-ui, "Segoe UI", Roboto, Arial, "Noto Sans",
    "Apple Color Emoji", "Segoe UI Emoji";
}
